{% extends 'base.html' %}
{% load static %}
{% block title %}
Courses
{% endblock title %}

{% block content %}
<div id="container">
    <div id="d1">
        <h1 id="t1">
            <span style="color: white;">We're not a <span id="c1">Course <br> factory.</span></span>
        </h1>
    </div>
    <div id="d2">
        <h6 id="t2">
            We focus on courses that really help.
        </h6>
    </div>
    <div id="d3">
        <h4 id="t3">Courses which do work ↓</h4>
        <div id="d8">
            <div class="maindiv">
                <div class="subdiv">
                    <div>
                        <img src="{% static 'c1.webp' %}" alt="" class="img">
                    </div>
                    <div class="text">
                        <pre class="p6">
        
    Front-End Domination: Create
    Anything with Code
                                </pre>
                        <button class="b4"><a href="">HINDI</a></button>
                        <div class="dd1">
                            <span class="sp1">Limited Time Discount</span><br>
                            <span class="sp2">₹ 4999</span><del>₹ 9999</del><button class="b6"><a href="" class="a1">50%
                                    off</a></button>
                        </div>
                    </div>
                </div>
                <div class="dd2">
                    <button class="b7"><a href="" class="a5">View details</a></button>
                </div>
            </div>
            <div class="maindiv">
                <div class="subdiv">
                    <div>
                        <img src="{% static 'c2.webp' %}" alt="" class="img">
                    </div>
                    <div class="text">
                        <pre class="p6">
        
    Back-End Domination: Create
    Efficient Back-End
                                </pre>
                        <button class="b4"><a href="">HINDI</a></button>
                        <div class="dd1">
                            <span class="sp1">Limited Time Discount</span><br>
                            <span class="sp2">₹ 5999</span><del>₹ 11999</del><button class="b6"><a href="" class="a1">50%
                                    off</a></button>
                        </div>
                    </div>
                </div>
                <div class="dd2">
                    <button class="b7"><a href="" class="a5">View details</a></button>
                </div>
            </div>
            <div class="maindiv">
                <div class="subdiv">
                    <div>
                        <img src="{% static 'c3.webp' %}" alt="" class="img">
                    </div>
                    <div class="text">
                        <pre class="p6">
        
    Aptitude & Reasoning for
    Campus Placements
                                </pre>
                        <button class="b5"><a href="">ENGLISH</a></button>
                        <div class="dd1">
                            <span class="sp1">Limited Time Discount</span><br>
                            <span class="sp2">₹ 999</span><del>₹ 1500</del><button class="b6"><a href="" class="a1">50%
                                    off</a></button>
                        </div>
                    </div>
                </div>
                <div class="dd2">
                    <button class="b7"><a href="" class="a5">View details</a></button>
                </div>
            </div>
            <div class="maindiv">
                <div class="subdiv">
                    <div>
                        <img src="{% static 'c4.webp' %}" alt="" class="img">
                    </div>
                    <div class="text">
                        <pre class="p6">
        
    Java & DSA Domination
                                </pre>
                        <button class="b5"><a href="">ENGLISH</a></button>
                        <div class="dd1">
                            <span class="sp1">Limited Time Discount</span><br>
                            <span class="sp2">₹ 4999</span><del>₹ 9999</del><button class="b6"><a href="" class="a1">50%
                                    off</a></button>
                        </div>
                    </div>
                </div>
                <div class="dd2">
                    <button class="b7"><a href="" class="a5">View details</a></button>
                </div>
            </div>
            <div class="maindiv">
                <div class="subdiv">
                    <div>
                        <img src="{% static 'c5.webp' %}" alt="" class="img">
                    </div>
                    <div class="text">
                        <pre class="p6">
        
    Three.js Domination
                            </pre>
                        <button class="b4"><a href="">HINDI</a></button>
                        <div class="dd1">
                            <span class="sp1">Limited Time Discount</span><br>
                            <span class="sp2">₹ 2499</span><del>₹ 3500</del><button class="b6"><a href="" class="a1">50%
                                    off</a></button>
                        </div>
                    </div>
                </div>
                <div class="dd2">
                    <button class="b7"><a href="" class="a5">View details</a></button>
                </div>
            </div>
        </div>
    </div> 
    <div id="d11"></div> <br><br> <br><br>
    <div id="d12">
        <div id="ss1">
            <img src="../static/sheriyan.webp" alt="" id="img3">
            <p id="p8">Lets connect with our socials</p><br>
            <div id="socials">
                <a href="https://www.instagram.com/sheryians_coding_school/" class="link"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://in.linkedin.com/company/the-sheryians-coding-school" class="link"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://discord.com/invite/D23JkFqrgz" class="link"><i class="fa-brands fa-discord"></i></a>
                <a href="https://www.youtube.com/@sheryians" class="link"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://x.com/i/flow/login?redirect_after_login=%2Fsheryians_" class="link"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
        <div id="ss2">
            <h3 class="hc">COMPANY</h3>
            <a href="#" class="fc">About Us</a><br>
            <a href="#" class="fc">Support</a><br>
            <a href="#" class="fc">Privacy Policy</a> <br>
            <a href="#" class="fc">Terms and Condition</a> <br>
            <a href="#" class="fc">Pricing and Refund</a> <br>
            <a href="$" class="fc">Hire From Us</a> <br>
            <a href="#" class="fc">Bug Bounty</a>
        </div>
        <div id="ss3">
            <h3 class="hc">COMMUNITY</h3>
            <a href="#" class="fc">Inertia</a> <br>
            <a href="#" class="fc">Discord</a>
        </div>
        <div id="ss4">
            <h3 class="hc">Get In Touch</h3>
            <a href="#" class="fc">+91 8109161752</a><br>
            <a href="#" class="fc">+91 9691778470</a><br>
            <a href="#" class="fc">hello@sheryians.com</a> <br>
            <a href="#" class="fc">23-B,Indrapuri Sector C, <br>  <span style="padding-left: 20px;">Bhopal(MP),462021</span></a>

        </div>
    </div>
    <div id="d13"></div>
    <pre id="pr1">
        Copyright © 2024 Sheriyans Pvt. Ltd.
               All rights Reserved
    </pre>

</div>
{% endblock content %}

{% block css %}
<link rel="stylesheet" href="{% static 'course.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock css %}